{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <div class="container" id="tableauSortie">
        <table class="table table-bordered table-dark" style="width: 120%;">
            <thead>
            <tr>
                {% for column in columnsName %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("m/d/Y h:m") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("m/d/Y") }}</td>
                        <td>TODO:NBRE inscrit/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>TODO:inscrit</td>
                        <td><a href="{{ path('consulter_profil', {'pseudo': sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.pseudo }}</a></td>
                        <td>
                            {% if app.user.pseudo == sortie.organisateur.pseudo %}
                                <a href="{{ path('modif_sortie', {'id': sortie.id}) }}">Modifier</a>
                            {% else %}
                                <a href="{{ path('consulter_sortie', {'id': sortie.id}) }}">Afficher sortie</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a href="{{ path('create_sortie') }}" class="btn btn-primary">Créer une sortie</a>
{% endblock %}
